@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .2s;
}

html{
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
    background-color: #09090b;
}

html::-webkit-scrollbar{
    width: 0.6rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background-color: #252525;
    border-radius: 5rem;
}

.text-white-style{
    color:#dbdbdb;
}

#botonId { 
    transition: 0.5s ease-out;
}